.formContainer {
    display: grid;
    gap: 4rem;
}

.formSectionContainer {
    display: grid;
    gap: 1rem;
}

.formSectionHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.formSectionHeader>svg {
    transform: scale(1.5);
}

.formStructure {
    display: grid;
    gap: 1rem;
}

.formStructure label {
    font-size: 1.3rem;
    text-align: left;
}

.separateLine {
    width: 100%;
    height: 1px;
    background-color: #c6c6c67c;
}