.filterBarContainer {
    width: 90%;
    margin: 0 auto;
    /* padding: 1rem 1.5rem; */
    
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;

    outline: 1px solid var(--Outline-Color);
}

.filterBarContainer > div:nth-child(1) {
    padding: 1rem;
    border-right: 1px solid var(--Outline-Color);
}

.filterBarContainer > div:nth-child(3) {
    padding: 1rem;
    border-left: 1px solid var(--Outline-Color);
}

.filterOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.filterOptions p {
    font-size: 1.3rem;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .filterOptions p {
        font-size: 1.5rem;
        opacity: .3;
        transition: .2s;
    }

    .filterOptions p:hover {
        opacity: 1;
    }

    .filterOptions svg {
        display: none;
    }
}