.homeHeader,
.homeHeaderContainerMobile,
.homeHeaderContainer {
    padding: 4rem 3.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr .5fr;
    align-items: center;

    z-index: 5;
}

.homeHeaderContainer {
    display: none;
}

.homeHeaderContainerMobile {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: var(--Menu-Mobile-Bg);
    transition: .3s ease-in;
}

.homeHeaderContainerMobile h1 {
    color: var(--Main-White);
}

.homeHeader svg,
.homeHeaderContainerMobile svg {
    place-self: end;
    align-self: center;
    cursor: pointer;
}

.menuNav {
    place-self: center start;
}

.menuNav ul li a {
    color: var(--Main-White);
    font-size: 2rem;
}

.menuNav ul {
    display: grid;
    gap: 2.4rem;
}

.menuNavBtns {
    place-self: center;
    grid-column: 1 / span 2;
}

.menuNavBtns ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.menuNavBtns ul li {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;

    background-color: var(--Main-White);
    border-radius: 100%;

    cursor: pointer;
}

/* Responsive CSS */
@media (min-width: 1024px) {
    .homeHeader,
    .homeHeaderContainerMobile {
        display: none;
    }

    .homeHeaderContainer {
        width: 90%;
        margin: 0 auto;
        padding: 4rem 0;

        display: grid;
        grid-template-columns: max-content 1fr max-content;
        grid-template-rows: 1fr;
    }

    .menuNav {
        place-self: center;
    }

    .menuNav ul {
        display: flex;
        gap: 5rem;
        align-items: center;
    }

    .menuNav ul li a {
        color: var(--Main-Black);
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    /* Cart + Account Profile */
    .menuNavBtns {
        grid-column: 3;
    }

    .menuNavBtns ul {
        gap: 1.5rem;
    }

    .menuNavBtns ul li {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .subMenuContainer {
        display: grid;
        gap: 0rem;
    }

    .ballImg {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subMenuLink {
        padding: .5rem .5rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        cursor: pointer;
        transition: .1s;
    }

    .subMenuLink:hover {
        border-radius: .5rem;
        background-color: var(--Submenu-Link-Hover);
    }

    .subMenuLink p {
        font-size: 1.4rem;
    }
}