.globalCartPageContainer {
    padding-top: 5rem;

    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    place-items: center;
    gap: 35px;
}

.cartProduct {
    display: grid;
    gap: 7px;
}

.cartDetailsContainer,
.paymentOptionsGlobalContainer {
    width: 90%;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 1px 8px 1px #c6c6c67c;
}

.cartProduct>h3 {
    font-size: 1.4rem;
    color: var(--Darker-Text);
}

.cartProduct>h4 {
    font-size: 1.7rem;
    font-weight: normal;
}

.cardProductImageContainer {
    width: 10rem;
    padding: 1rem 0;
    margin: 0 auto;
    position: relative;
}

.cardProductImageContainer>img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 8px 1px #c6c6c67c;
}

.cardProductImageContainer>p {
    position: absolute;
    top: 0px;
    right: -12px;

    padding: .5rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 100%;
    background-color: #ecebeb;
    box-shadow: 0px 1px 8px 1px #c6c6c67c;
}

.cartDetailsContainer>hr {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    color: #c6c6c67c;
}

.addSameProductContainer {
    width: 10rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 25% 50% 25%;

    font-size: 1.5rem;
    border-radius: 4px;
    outline: 1px solid var(--Outline-Color);
}

.addSameProductContainer>p:nth-child(1) {
    cursor: pointer;
    border-right: 1px solid var(--Outline-Color);
}

.addSameProductContainer>p:nth-child(3) {
    cursor: pointer;
    border-left: 1px solid var(--Outline-Color);
}

/* =-=-=-=-=-= */
.paymentDetailsContainer,
.paymentTotalContainer {
    padding: 1.7rem 0;
    display: grid;
}

.paymentTotalContainer>p,
.paymentDetailsContainer>p {
    width: fit-content;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.paymentDetailsContainer>p,
.paymentTotalContainer>p {
    font-size: 1.4rem;
}

.paymentDetailsContainer>p {
    color: var(--Darker-Text);
}

.paymentDetailsContainer>p>span {
    place-self: end;
    align-self: center;
}

.paymentDetailsContainer>p>strong {
    color: var(--Main-Black);
}

.paymentDetailsContainer>p>strong,
.paymentTotalContainer>p>strong {
    font-weight: normal;
    font-size: 1.7rem;
}

.paymentTotalContainer>p>span {
    place-self: end;
    align-self: center;
}

.paymentTotalContainer>p>strong {
    font-size: 2rem;
}

/* =-=-=-= */
.paymentOptionsGlobalContainer>p {
    font-size: 1.8rem;
}

.paymentOption {
    display: flex;
    flex-direction: column;
    align-items: center;
}