.globalCartPageContainer {
    padding: 5rem 0;

    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    place-items: center;
    gap: 35px;
}

.cartProduct {
    padding: 2rem 0;
    display: grid;
    gap: 7px;
}

.cartDetailsContainer,
.paymentOptionsGlobalContainer {
    width: 90%;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 1px 8px 1px #c6c6c67c;
}

.cartProduct>h3 {
    font-size: 1.4rem;
    color: var(--Darker-Text);
}

.cartProduct>h4 {
    font-size: 1.7rem;
    font-weight: normal;
}

.cardProductImageContainer {
    width: 10rem;
    padding: 1rem 0;
    margin: 0 auto;
    position: relative;
}

.cardProductImageContainer>img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 8px 1px #c6c6c67c;
}

.cardProductImageContainer>p {
    position: absolute;
    top: 0px;
    right: -12px;

    padding: .5rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 100%;
    background-color: #ecebeb;
    box-shadow: 0px 1px 8px 1px #c6c6c67c;
}

.cartDetailsContainer>hr {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    color: #c6c6c67c;
}

.addSameProductContainer {
    width: 10rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 25% 50% 25%;

    font-size: 1.5rem;
    border-radius: 4px;
    outline: 1px solid var(--Outline-Color);
}

.addSameProductContainer>button:nth-child(1) {
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-right: 1px solid var(--Outline-Color);
}

.addSameProductContainer>button:nth-child(3) {
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-left: 1px solid var(--Outline-Color);
}

/* =-=-=-=-=-= */
.paymentDetailsContainer,
.paymentTotalContainer {
    padding: 1.7rem 0;
    display: grid;
}

.paymentTotalContainer>p,
.paymentDetailsContainer>p {
    width: fit-content;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.paymentDetailsContainer>p,
.paymentTotalContainer>p {
    font-size: 1.4rem;
}

.paymentDetailsContainer>p {
    color: var(--Darker-Text);
}

.paymentDetailsContainer>p>span {
    place-self: end;
    align-self: center;
}

.paymentDetailsContainer>p>strong {
    color: var(--Main-Black);
}

.paymentDetailsContainer>p>strong,
.paymentTotalContainer>p>strong {
    font-weight: normal;
    font-size: 1.7rem;
}

.paymentDetailsContainer>.shippingAddressContainer {
    display: block;
    padding-top: 1.2rem;
    color: var(--Highlight-Text);
}

.shippingAddressContainer>span {
    color: var(--Highlight-Text);
    text-decoration: underline;
    cursor: pointer;
}

.shippingAddressDetails {
    display: grid;
    gap: 12px;
}

.shippingAddressDetails>p {
    color: var(--Main-Black);
}

.shippingAddressDetails>span {
    color: var(--Highlight-Text);
    text-decoration: underline;
    cursor: pointer;
}

.addZipCodeModal {
    display: grid;
    gap: 12px;
}

.addZipCodeModal>h3 {
    font-size: 1.7rem;
}

.addZipCodeModal>label {
    font-size: 1.5rem;
}

.errorInvalidCEP {
    font-size: 1.4rem;
    color: red;
}

.paymentTotalContainer>p>span {
    place-self: end;
    align-self: center;
}

.paymentTotalContainer>p>strong {
    font-size: 2rem;
}

/* =-=-=-= */
.paymentOptionsGlobalContainer {
    display: grid;
    gap: 2rem;
}

.paymentOptionsGlobalContainer>p {
    font-size: 1.8rem;
}

.paymentOptionsContainer {
    /* padding: 2rem 0rem; */

    display: grid;
    grid-template-rows: 1fr max-content 1fr;

    border-radius: .7rem;
    box-shadow: 0px 1px 8px 1px #c6c6c67c;
}

.paymentOption {
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;

    transition: .2s;
    cursor: pointer;
}

.paymentOptionsContainer div:nth-child(3) {
    border-radius: 0;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
}

.paymentOption:hover {
    background-color: var(--Hover-Color);
}

.paymentOptionsContainer>hr {
    color: #c6c6c67c;
}

.paymentOption>p {
    font-size: 1.5rem;
}

@media (min-width: 1024px) {
    .globalCartPageContainer {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: .70fr .30fr;
        gap: 0;
    }

    .paymentOptionsGlobalContainer {
        grid-column: 1;
        grid-row: 1;
    }

    .cartDetailsContainer {
        width: 100%;
        grid-column: 2;
    }

    .paymentOptionsContainer {
        width: fit-content;
        margin: 0 auto;

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 15rem max-content 15rem;
        justify-content: center;

        border-radius: 7px;
        box-shadow: 0px 1px 8px 1px #c6c6c67c;
    }

    .paymentOption {
        border-radius: 0;
        border-top-left-radius: .7rem;
        border-bottom-left-radius: .7rem;
    }

    .paymentOptionsContainer div:nth-child(3) {
        border-radius: 0;
        border-top-right-radius: .7rem;
        border-bottom-right-radius: .7rem;
    }
}