.productPageGlobalContainer {
    width: 90%;
    margin: 0 auto;

    animation: fadeInUp 1s;
}

.productDetailsContainer {
    padding: 1.2rem 0;

    display: grid;
    gap: 1.3rem;
}

.productImgContainer>img {
    width: 100%;
    outline: 1px solid var(--Outline-Color);
}

.productDetails {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pricingProduct {
    font-size: 1.2rem;

    display: grid;
    gap: .5rem;
}

.pricingProduct>span {
    font-size: 1.4rem;
}

.sizingOptionsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.colorOptions {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
}

.colorOptions p {
    font-size: 1.4rem;
}

.colorBallContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.colorBallContainer .colorBall {
    width: 3rem;
    height: 3rem;
    padding: 1.5rem;
    border: 1px solid var(--Outline-Color);
    border-radius: 100%;

    cursor: pointer;
    /* box-shadow: 0 0 2rem var(--Box-Shadow-Default); */
}

.colorBallContainer .colorBall:nth-child(2) {
    background-color: black;
}

.sizingOptionsContainer p {
    padding: .5rem 1rem;

    border: 1px solid var(--Outline-Color);
    border-radius: .3rem;

    font-size: 1.3rem;
    text-transform: uppercase;

    cursor: pointer;
    transition: .2s;
}

.sizingOptionsContainer p:hover {
    background-color: var(--Main-Black);
    color: var(--Main-White);
}

.productDesc {
    font-size: 1.5rem;
}

.freteContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: .5rem;
}

.freteContainer>label {
    font-size: 1.4rem;
}

.freteContainer>input {
    padding: 1.3rem;
    font-size: 1.5rem;
    border-radius: 4px;
    border: 1px solid black;
}

/* .freteContainer>input:invalid {
    border: 1px solid #ff3333;
    color: #ff3333;
}

.freteContainer>input:invalid + .freteContainer button {
    pointer-events: none;
    background-color: magenta;
    border: 1px solid magenta;
}

.freteContainer>input:placeholder-shown {
    border: 1px solid black;
    color: inherit;
} */

.freteContainer>a>i {
    font-size: 1.2rem;
    text-decoration: underline;
    cursor: pointer;
}

.fretePreco {
    padding-top: 1rem;
    font-size: 1.2rem;
}

.btnContainer {
    width: 100%;

    display: grid;
    gap: 1.2rem;
}

.reviewsContainer {
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.userReview {
    padding: 2.5rem 2rem;

    border: 1px solid var(--Box-Shadow-Default);
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.userReview>div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.userReview>div>img {
    box-shadow: 0 0 2rem magenta;
}

.userInfo>h1 {
    font-size: 1.8rem;
}

.userInfo>h2 {
    color: var(--Darker-Text);
    font-size: 1.4rem;
}

.userReview>p {
    font-size: 1.5rem;
}

.userReview>p:nth-child(3) {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.3rem;
}

.numberOfLikes {
    font-size: 1.6rem;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 1024px) {
    .productPageGlobalContainer {
        padding: 5rem 0;
    }

    .productImgContainer>img {
        width: 420px;
        height: 500px;
        object-fit: cover;
    }

    .productDetailsContainer {
        grid-template-columns: max-content 1fr;
    }
}

@media (min-width: 1080px) {
    .productDetailsContainer {
        gap: 2.5rem;
        grid-template-columns: max-content 300px;
        justify-content: center;
    }

    .userReview {
        width: 75rem;
        margin: 0 auto;
    }
}