:root {
  /* Primary Colors */
  --Main-Black: #1C1212;
  --Main-White: #DBDBDB;
  --Menu-Mobile-Bg: #4E4E4E;

  /* Secondary Colors */
  --Box-Shadow-Default: #A5A5A5;
  --Submenu-Link-Hover: #c6c6c67c;
  --Menu-Head-Link: #2FA3A3;
  --Menu-Torso-Link: #8A349A;
  --Menu-Shoes-Link: #282929;
  --Outline-Color: #707070;

  /* 1rem = 10px */
  font-size: 62.5%;
}

html,
body {
  min-height: -webkit-fill-available;
  font-family: Avenir Next, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  font-family: Avenir Next;
}

a {
  color: inherit;
  border: inherit;
  outline: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,h2,h3 {
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
